# DATABASE_URL="postgresql://neondb_owner:npg_CcN7PrmOWBF8@ep-morning-rain-adnq0uvl-pooler.c-2.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
DATABASE_URL="postgresql://postgres:postgresql@localhost:5432/rbd_nextjs"
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="your-secret-key-here-change-this-in-production"
NEXT_PUBLIC_PAYPAL_CLIENT_ID="Aa-89Bgblsg8sv2E15S2V7wUk8r9uHFGXJ3WVTWxr1nk4CQtcbTujdhbblG4J0Ejcz02Y_N7TCiHsQNs"
PAYPAL_CLIENT_SECRET="EIKjGvEbnA_DnFN4XZWIJFZEktwdwfQhuaBxztRm0UHov4odpME0onS4Ehx2D7pqzF5NdwTumRDjZYFL"
NEXT_PUBLIC_PAYPAL_MODE=sandbox
NEXT_PUBLIC_APP_URL="http://localhost:3000"
ENCRYPTION_KEY="57f88d605c093449c500a03dd962c02c7134254c9461106334aac70b1d00f19cb6996b08461b089c88f2887af79f2c5b971c6e3f8ae57cb3c269a82a166650ad35fe5583736449d7"
